* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
  height: 70px;
  text-align: center;
}

.nav-item {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  width: 120px;
  height: 70px;
  line-height: 70px;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: left center;
}

.main-visual-title {
  font-size: 64px;
  color: #fafafa;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
  margin: 0 auto;
  text-align: center;
}

main {
  width: 100%;
}

.main-content {
  width: 100%;
  padding: 90px 0;
  margin: 0 auto;
}

.main-content-title {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
}

h2:after {
  content: "";
  margin: 8px auto 0 auto; /*線の位置*/
  display: block;
  width: 70px; /*線の長さ*/
  height: 3px; /*線の太さ*/
  background-color: #ec715f; /*線の色*/
  border-radius: 2px; /*線の丸み*/
}

.main-content-text {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

#main-portfolio {
  width: 100%;
  background-color: #eceff1;
  margin: 0 auto;
}
.main-portfolio-title {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 3px 70px solid #ec715f;
}

.main-portfolio-text {
  font-size: 16px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.portfolio-body-img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 920px;
}

.portfolio-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-img:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-img:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px;
}

.portfolio-img:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-img:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-top: 10px;
}

.portfolio-img:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 10px 10px 0 10px;
}

.portfolio-img:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  margin-top: 10px;
}

#main-feature {
  margin: 0 auto;
}

.feature-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.feature-strength1,
.feature-strength2,
.feature-strength3 {
  width: 320px;
  margin: 0 auto;
}

.feature-strength2 {
  margin: 0 10px;
}

.icon {
  margin: 0 auto;
  text-align: center;
}

i {
  font-size: 60px;
  text-align: center;
}

.feature-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
  text-align: center;
}

#main-plofile {
  width: 100%;
  background-color: #eceff1;
  margin: 0 auto;
}

.plofile-body {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.plofile-img-body {
  width: 512px;
  height: 250px;
  text-align: center;
}

.plofile-img {
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
  width: 250px; /* ※縦横を同値に */
  height: 250px; /* ※縦横を同値に */
}

.plofile-text {
  width: 512px;
}

.plofile-text h5 {
  padding: 5px;
  font-size: 20px;
}
.plofile-text p {
  padding-bottom: 20px;
  font-size: 16px;
}

#main-contact {
  margin: 0 auto;
}

.contact-body {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-body-content {
  width: 400px;
}

.contact-information,
.contact-sns {
  width: 200px;
  margin: 0 auto;
}

.contact-information {
  padding-left: 40px;
}

.contact-information h5 {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-information p {
  padding-bottom: 20px;
  text-decoration: underline;
}

.contact-body-content h5 {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-body-content i {
  font-size: 50px;
}

.contact-body-content i:nth-child(3) {
  padding: 0 20px;
}

footer {
  width: 100%;
  height: 60px;
  font-size: 16px;
  background-color: #ec715f;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}

@media screen and (min-width: 768px) {
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }

  header {
    width: 100%;
    height: 50px;
  }

  .nav {
    display: none;
  }

  .container {
    width: 90%;
    height: 50px;
    margin: 0 auto;
  }

  .logo {
    height: 50px;
  }

  #humberger {
    position: relative;
    float: right;
    height: 40px;
    width: 40px;
    margin: 5px 30px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ffffff;
  }
  #humberger div {
    position: absolute;
    left: 2.5px;
    height: 2px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 8px;
  }
  #humberger div:nth-of-type(2) {
    top: 18px;
  }
  #humberger div:nth-of-type(3) {
    top: 28px;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-position: center center;
  }

  .main-visual-title {
    font-size: 40px;
  }

  .main-visual-text {
    font-size: 18px;
  }

  .main-content {
    width: 90%;
    padding: 90px 0;
  }

  .main-content-text {
    padding: 30px 10%;
  }

  .main-portfolio-text {
    width: 90%;
  }

  .portfolio-body-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 0px;
    width: 300px;
  }

  .portfolio-img:nth-child(1) {
    display: none;
  }

  .portfolio-img:nth-child(2) {
    background-image: url(img/websuku.png);
    margin: 0;
  }

  .portfolio-img:nth-child(3) {
    display: none;
  }

  .portfolio-img:nth-child(4) {
    background-image: url(img/webcamp.png);
    margin: 10px 0;
  }

  .portfolio-img:nth-child(5) {
    display: none;
  }

  .portfolio-img:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
    margin-top: 0px;
  }

  .feature-body {
    display: block;
  }

  .feature-strength2 {
    margin: 20px auto;
  }

  #main-plofile {
    width: 100%;
    margin: 0 auto;
  }

  .plofile-body {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .plofile-img-body {
    width: 90%;
    margin: 0 auto;
  }

  .plofile-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .plofile-text h5 {
    padding: 20px 0 5px 0;
    margin: 0 auto;
    text-align: center;
  }

  .plofile-text p {
    padding-bottom: 0px;
    padding: 0 5%;
  }

  .contact-body {
    width: 90%;
    display: block;
  }

  .contact-body-content,
  .contact-information,
  .contact-SNS {
    width: 90%;
  }

  .contact-body-content {
    margin: 0 auto;
  }

  .contact-information {
    padding-left: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-information p {
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-body-content h5 {
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
  }

  .contact-tel {
    padding-top: 20px;
  }

  .contact-sns {
    margin-top: 20px;
    text-align: center;
  }

  .contact-body-content i {
    font-size: 50px;
    text-align: center;
  }

  .contact-body-content i:nth-child(3) {
    padding: 0 8px;
  }
}
